<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <!-- <th scope="col">Author</th>
      <th scope="col">Quotes</th> -->
      <th scope="col">Brand</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Images</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Title</th>
      <th scope="col">Discount</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of product.products">
      <!-- {{data | json}} -->
      <th scope="row">{{data.id}}</th>
      <!-- <td>{{data.author}}</td>
      <td>{{data.quote}}</td> -->
      <td>{{data.brand}}</td>
      <td>{{data.category}}</td>
      <td>{{data.description}}</td>
      <td>{{data.images}}</td>
      <td>{{data.price}}</td>
      <td>{{data.stock}}</td>
      <td>{{data.title}}</td>
      <td>{{data.discount}}</td>

    </tr>
  </tbody>
  </table>


  <div class="container" *ngFor="let data of product.products">
    <div class="card dark">
      <img [src]="data?.images[0]" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="text-section">
          <h5 class="card-title">{{data?.title}}</h5>
          <p class="card-text">{{data?.description}}</p>
        </div>
        <div class="cta-section">
          <div>{{data?.price}}</div>
          <a href="#" class="btn btn-light">Buy Now</a>
        </div>
      </div>
    </div>
